# Preparation

In [1]:
import pandas as pd

In [2]:
Xtrain = pd.read_csv('../data/raw/h1n1_train_features.csv')
Xtrain

,respondent_id,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0,NaN,NaN
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0,pxcmvdjn,xgwztkwe
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0,rucpziij,xtkaffoo
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,Below Poverty,Not Married,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0,NaN,NaN
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,"<= $75,000, Above Poverty",Married,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0,wxleyezf,emcorrxb
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26702,26702,2.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,"<= $75,000, Above Poverty",Not Married,Own,Not in Labor Force,qufhixun,Non-MSA,0.0,0.0,NaN,NaN
26703,26703,1.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Not Married,Rent,Employed,lzgpxyit,"MSA, Principle City",1.0,0.0,fcxhlnwr,cmhcxjea
26704,26704,2.0,2.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,...,NaN,Not Married,Own,NaN,lzgpxyit,"MSA, Not Principle City",0.0,0.0,NaN,NaN
26705,26705,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,"<= $75,000, Above Poverty",Married,Rent,Employed,lrircsnp,Non-MSA,1.0,0.0,fcxhlnwr,haliazsg
26706,26706,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Married,Own,Not in Labor Force,mlyzmhmf,"MSA, Principle City",1.0,0.0,NaN,NaN

## Let's see what the NaNs look like

In [3]:
def percent_nans(df):
    x = ['column_name','n_nans', 'percentage_nans']
    missing_data = pd.DataFrame(columns=x)
    columns = df.columns
    for col in columns:
        acolumn_name = col
        amissing_data = df[col].isnull().sum()
        amissing_in_percentage = (df[col].isnull().sum()/df[col].shape[0])*100
        missing_data.loc[len(missing_data)] = [acolumn_name, amissing_data, amissing_in_percentage]
    return missing_data.sort_values(by='percentage_nans', ascending=False)

percent_nans(Xtrain)

                    column_name n_nans  percentage_nans
35        employment_occupation  13470        50.436215
34          employment_industry  13330        49.912008
15             health_insurance  12274        45.957989
26               income_poverty   4423        16.561201
10             doctor_recc_h1n1   2160         8.087767
11         doctor_recc_seasonal   2160         8.087767
28                  rent_or_own   2042         7.645936
29            employment_status   1463         5.477965
27               marital_status   1408         5.272026
23                    education   1407         5.268282
12        chronic_med_condition    971         3.635751
13         child_under_6_months    820         3.070356
14                health_worker    804         3.010447
21  opinion_seas_sick_from_vacc    537         2.010709
20            opinion_seas_risk    514         1.924589
19  opinion_seas_vacc_effective    462         1.729884
18  opinion_h1n1_sick_from_vacc    395         1.479013
16  opinion_h1n1_vacc_effective    391         1.464036
17            opinion_h1n1_risk    388         1.452803
33           household_children    249         0.932340
32             household_adults    249         0.932340
4          behavioral_avoidance    208         0.778822
9         behavioral_touch_face    128         0.479275
2                h1n1_knowledge    116         0.434343
1                  h1n1_concern     92         0.344479
7   behavioral_large_gatherings     87         0.325757
8       behavioral_outside_home     82         0.307036
3     behavioral_antiviral_meds     71         0.265848
6         behavioral_wash_hands     42         0.157262
5          behavioral_face_mask     19         0.071142
30               hhs_geo_region      0         0.000000
31                   census_msa      0         0.000000
25                          sex      0         0.000000
24                         race      0         0.000000
22                    age_group      0         0.000000
0                 respondent_id      0         0.000000

## Let's fix the columns

### Employment Occupation

In [4]:
Xtrain.employment_occupation.value_counts()

xtkaffoo    1778
mxkfnird    1509
emcorrxb    1270
cmhcxjea    1247
xgwztkwe    1082
hfxkjkmi     766
qxajmpny     548
xqwwgdyp     485
kldqjyjy     469
uqqtjvyb     452
tfqavkke     388
ukymxvdu     372
vlluhbov     354
oijqvulv     344
ccgxvspp     341
bxpfxfdn     331
haliazsg     296
rcertsgn     276
xzmlyyjv     248
dlvbwzss     227
hodpvpew     208
dcjcmpih     148
pvmttkik      98
Name: employment_occupation, dtype: int64

In [5]:
Xtrain.employment_occupation = Xtrain.employment_occupation.fillna('missing')
Xtrain.employment_occupation.value_counts()

missing     13470
xtkaffoo     1778
mxkfnird     1509
emcorrxb     1270
cmhcxjea     1247
xgwztkwe     1082
hfxkjkmi      766
qxajmpny      548
xqwwgdyp      485
kldqjyjy      469
uqqtjvyb      452
tfqavkke      388
ukymxvdu      372
vlluhbov      354
oijqvulv      344
ccgxvspp      341
bxpfxfdn      331
haliazsg      296
rcertsgn      276
xzmlyyjv      248
dlvbwzss      227
hodpvpew      208
dcjcmpih      148
pvmttkik       98
Name: employment_occupation, dtype: int64

In [6]:
percent_nans(Xtrain)

                    column_name n_nans  percentage_nans
34          employment_industry  13330        49.912008
15             health_insurance  12274        45.957989
26               income_poverty   4423        16.561201
10             doctor_recc_h1n1   2160         8.087767
11         doctor_recc_seasonal   2160         8.087767
28                  rent_or_own   2042         7.645936
29            employment_status   1463         5.477965
27               marital_status   1408         5.272026
23                    education   1407         5.268282
12        chronic_med_condition    971         3.635751
13         child_under_6_months    820         3.070356
14                health_worker    804         3.010447
21  opinion_seas_sick_from_vacc    537         2.010709
20            opinion_seas_risk    514         1.924589
19  opinion_seas_vacc_effective    462         1.729884
18  opinion_h1n1_sick_from_vacc    395         1.479013
16  opinion_h1n1_vacc_effective    391         1.464036
17            opinion_h1n1_risk    388         1.452803
32             household_adults    249         0.932340
33           household_children    249         0.932340
4          behavioral_avoidance    208         0.778822
9         behavioral_touch_face    128         0.479275
2                h1n1_knowledge    116         0.434343
1                  h1n1_concern     92         0.344479
7   behavioral_large_gatherings     87         0.325757
8       behavioral_outside_home     82         0.307036
3     behavioral_antiviral_meds     71         0.265848
6         behavioral_wash_hands     42         0.157262
5          behavioral_face_mask     19         0.071142
31                   census_msa      0         0.000000
0                 respondent_id      0         0.000000
30               hhs_geo_region      0         0.000000
25                          sex      0         0.000000
24                         race      0         0.000000
22                    age_group      0         0.000000
35        employment_occupation      0         0.000000

### Employement Industry

In [7]:
Xtrain.employment_industry.value_counts()

fcxhlnwr    2468
wxleyezf    1804
ldnlellj    1231
pxcmvdjn    1037
atmlpfrs     926
arjwrbjb     871
xicduogh     851
mfikgejo     614
vjjrobsf     527
rucpziij     523
xqicxuve     511
saaquncn     338
cfqqtusy     325
nduyfdeo     286
mcubkhph     275
wlfvacwt     215
dotnnunm     201
haxffmxo     148
msuufmds     124
phxvnwax      89
qnlwzans      13
Name: employment_industry, dtype: int64

In [8]:
Xtrain.employment_industry = Xtrain.employment_industry.fillna('missing')
Xtrain.employment_industry.value_counts()

missing     13330
fcxhlnwr     2468
wxleyezf     1804
ldnlellj     1231
pxcmvdjn     1037
atmlpfrs      926
arjwrbjb      871
xicduogh      851
mfikgejo      614
vjjrobsf      527
rucpziij      523
xqicxuve      511
saaquncn      338
cfqqtusy      325
nduyfdeo      286
mcubkhph      275
wlfvacwt      215
dotnnunm      201
haxffmxo      148
msuufmds      124
phxvnwax       89
qnlwzans       13
Name: employment_industry, dtype: int64

In [9]:
percent_nans(Xtrain)

                    column_name n_nans  percentage_nans
15             health_insurance  12274        45.957989
26               income_poverty   4423        16.561201
10             doctor_recc_h1n1   2160         8.087767
11         doctor_recc_seasonal   2160         8.087767
28                  rent_or_own   2042         7.645936
29            employment_status   1463         5.477965
27               marital_status   1408         5.272026
23                    education   1407         5.268282
12        chronic_med_condition    971         3.635751
13         child_under_6_months    820         3.070356
14                health_worker    804         3.010447
21  opinion_seas_sick_from_vacc    537         2.010709
20            opinion_seas_risk    514         1.924589
19  opinion_seas_vacc_effective    462         1.729884
18  opinion_h1n1_sick_from_vacc    395         1.479013
16  opinion_h1n1_vacc_effective    391         1.464036
17            opinion_h1n1_risk    388         1.452803
32             household_adults    249         0.932340
33           household_children    249         0.932340
4          behavioral_avoidance    208         0.778822
9         behavioral_touch_face    128         0.479275
2                h1n1_knowledge    116         0.434343
1                  h1n1_concern     92         0.344479
7   behavioral_large_gatherings     87         0.325757
8       behavioral_outside_home     82         0.307036
3     behavioral_antiviral_meds     71         0.265848
6         behavioral_wash_hands     42         0.157262
5          behavioral_face_mask     19         0.071142
34          employment_industry      0         0.000000
31                   census_msa      0         0.000000
0                 respondent_id      0         0.000000
30               hhs_geo_region      0         0.000000
25                          sex      0         0.000000
24                         race      0         0.000000
22                    age_group      0         0.000000
35        employment_occupation      0         0.000000

### Health Insurance

In [10]:
Xtrain.health_insurance.value_counts(dropna=False)

1.0    12697
NaN    12274
0.0     1736
Name: health_insurance, dtype: int64

In [12]:
Xtrain.health_insurance = Xtrain.health_insurance.fillna('missing')

#### Better Imputer function

In [24]:
def find_best_imputer():

In [27]:
pd.crosstab(Xtrain.health_insurance, Xtrain.race)

race              Black  Hispanic  Other or Multiple  White
health_insurance
0.0                 202       314                134   1086
1.0                 956       590                734  10417
missing             960       851                744   9719